In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from livelossplot import PlotLossesKeras
# import keras models
from tensorflow import keras
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation, Flatten
from keras.utils import np_utils

In [2]:
# set random seed globally
my_seed = 21
from numpy.random import seed
seed(my_seed)
import tensorflow as tf
tf.random.set_seed(my_seed) 
# tensorflow version
print(tf.__version__)

2.6.0

In [3]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/magic/magic04.data',
                 names = ['fLength','fWidth','fSize','fConc','fConc1','fAsym','fM3Long','fM3Trans','fAlpha','fDist','class'])
df

,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Trans,fAlpha,fDist,class
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,g
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,g
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,g
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,g
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,g
...,...,...,...,...,...,...,...,...,...,...,...
19015,21.3846,10.9170,2.6161,0.5857,0.3934,15.2618,11.5245,2.8766,2.4229,106.8258,h
19016,28.9452,6.7020,2.2672,0.5351,0.2784,37.0816,13.1853,-2.9632,86.7975,247.4560,h
19017,75.4455,47.5305,3.4483,0.1417,0.0549,-9.3561,41.0562,-9.4662,30.2987,256.5166,h
19018,120.5135,76.9018,3.9939,0.0944,0.0683,5.8043,-93.5224,-63.8389,84.6874,408.3166,h
19019,187.1814,53.0014,3.2093,0.2876,0.1539,-167.3125,-168.4558,31.4755,52.7310,272.3174,h

In [4]:
# encoding the target column
le = LabelEncoder()
label = le.fit_transform(df['class'])
label

encoded_df = df.copy()
encoded_df.drop("class", axis=1, inplace=True)
encoded_df["class"] = label
encoded_df

,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Trans,fAlpha,fDist,class
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,0
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,0
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,0
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,0
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,0
...,...,...,...,...,...,...,...,...,...,...,...
19015,21.3846,10.9170,2.6161,0.5857,0.3934,15.2618,11.5245,2.8766,2.4229,106.8258,1
19016,28.9452,6.7020,2.2672,0.5351,0.2784,37.0816,13.1853,-2.9632,86.7975,247.4560,1
19017,75.4455,47.5305,3.4483,0.1417,0.0549,-9.3561,41.0562,-9.4662,30.2987,256.5166,1
19018,120.5135,76.9018,3.9939,0.0944,0.0683,5.8043,-93.5224,-63.8389,84.6874,408.3166,1
19019,187.1814,53.0014,3.2093,0.2876,0.1539,-167.3125,-168.4558,31.4755,52.7310,272.3174,1

In [5]:
# Set the total number of classes
nb_classes = len(encoded_df['class'].unique())

In [6]:
# Creating target and features
X = encoded_df.drop(['class'], axis=1)
y = encoded_df['class']

# scale the variables
sc = StandardScaler() 
X_scaled = sc.fit_transform(X)

# Split into train and test set and normalize data
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y, test_size = 0.2) #, random_state = 0)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(15216, 10)
(15216,)
(3804, 10)
(3804,)

In [7]:
def buildSequentialModel():
    # Build a Sequential Model.
    model = Sequential()
    # model.add(Flatten(input_shape=(10, 1)))
    
    # YOUR CODE HERE
    
    model.add(Dense(392, kernel_initializer='normal', activation='relu'))
    model.add(Dropout(0.3))
    model.add(Dense(196, kernel_initializer='normal', activation='relu'))
    model.add(Dropout(0.3))
    model.add(Dense(98, kernel_initializer='normal', activation='relu'))
    model.add(Dropout(0.3))
    
    # raise NotImplementedError()
    # Output Layer
    model.add(Dense(nb_classes, activation='softmax'))
   
    return model

Conventional Activation Functions to test
- Logistic regression hypothesis (Sigmoid)
- Hyperbolic Tangent (tanh) # rescaled sigmoid to (-1, +1)
- Rectified Linear Unit (ReLU)
- Gaussian Error Linear Unit (GELU) # smoothed ReLU
- Normalized Exponential Function (Softmax)

In [8]:
# instantiate model
model = buildSequentialModel()
# compile model
#model.compile(loss='categorical_crossentropy', optimizer='adam')
model.compile(optimizer=keras.optimizers.Adam(learning_rate=0.001),
                loss=keras.losses.SparseCategoricalCrossentropy(),
                metrics=['accuracy'])

In [9]:
model.fit(X_train, y_train,
          batch_size=1024, epochs=2, verbose=1,
          validation_data=(X_test, y_test))

Epoch 1/2
15/15 [==============================] - 2s 18ms/step - loss: 0.5449 - accuracy: 0.7397 - val_loss: 0.4026 - val_accuracy: 0.8141
Epoch 2/2
15/15 [==============================] - 0s 6ms/step - loss: 0.4112 - accuracy: 0.8172 - val_loss: 0.3654 - val_accuracy: 0.8454

In [10]:
#scores = model.evaluate(X_test, Y_test, verbose=0)
score = model.evaluate(X_test, y_test, verbose=1)
print('Your CV accuracy score is:', score[1])

119/119 [==============================] - 0s 2ms/step - loss: 0.3654 - accuracy: 0.8454
Your CV accuracy score is: 0.8454258441925049

In [11]:
# The predict_classes function outputs the highest probability class
# according to the trained classifier for each input example.
predicted_classes = np.argmax(model.predict(X_test), axis=-1)


# Identify which examples were correctly and incorrectly classified.
#correct_indices = np.nonzero(predicted_classes == y_test)[0]
#incorrect_indices = np.nonzero(predicted_classes != y_test)[0]

correct_indices = np.nonzero(predicted_classes == y_test.values)[0]
incorrect_indices = np.nonzero(predicted_classes != y_test.values)[0]


# Count the number of incorrectly classified examples of 10,000 test cases
len(incorrect_indices)
print("Your classifier got the following " + str(len(incorrect_indices)) + " items wrong out of 10,000:")
incorrect_indices

Your classifier got the following 588 items wrong out of 10,000:

array([   3,   12,   13,   20,   23,   33,   35,   36,   41,   47,   75,
         77,   86,   89,   92,   94,   96,  126,  129,  138,  147,  154,
        155,  156,  170,  172,  175,  179,  188,  189,  206,  207,  209,
        210,  214,  221,  232,  239,  247,  257,  258,  263,  268,  277,
        298,  302,  305,  306,  310,  315,  316,  317,  328,  337,  346,
        352,  353,  356,  363,  364,  367,  369,  376,  385,  391,  392,
        406,  410,  427,  431,  432,  434,  440,  457,  459,  469,  472,
        484,  487,  488,  494,  500,  503,  507,  524,  528,  531,  535,
        538,  554,  560,  561,  565,  575,  578,  593,  604,  615,  620,
        621,  627,  628,  634,  650,  659,  661,  662,  667,  668,  676,
        681,  688,  689,  690,  693,  697,  705,  710,  722,  723,  724,
        726,  734,  742,  753,  755,  756,  771,  784,  786,  797,  799,
        803,  815,  818,  823,  824,  833,  840,  860,  861,  864,  867,
        880,  885,  889,  890,  896,  905,  907,  935,  949,  968,  976,
        978,  990,  997,  998, 1001, 1013, 1014, 1018, 1034, 1043, 1046,
       1050, 1075, 1078, 1079, 1083, 1084, 1089, 1094, 1097, 1112, 1115,
       1148, 1154, 1159, 1162, 1169, 1172, 1175, 1176, 1178, 1182, 1185,
       1198, 1200, 1207, 1211, 1223, 1225, 1230, 1242, 1243, 1247, 1262,
       1263, 1265, 1274, 1287, 1293, 1304, 1319, 1321, 1331, 1332, 1347,
       1350, 1358, 1361, 1362, 1373, 1377, 1378, 1381, 1385, 1387, 1392,
       1399, 1406, 1427, 1441, 1451, 1457, 1462, 1466, 1467, 1488, 1490,
       1492, 1495, 1524, 1530, 1531, 1538, 1539, 1559, 1567, 1572, 1578,
       1586, 1589, 1592, 1594, 1597, 1602, 1610, 1612, 1627, 1629, 1634,
       1639, 1640, 1647, 1653, 1659, 1666, 1673, 1679, 1686, 1689, 1691,
       1692, 1709, 1710, 1712, 1718, 1721, 1727, 1731, 1732, 1744, 1746,
       1758, 1778, 1783, 1786, 1787, 1794, 1801, 1810, 1826, 1843, 1847,
       1850, 1864, 1871, 1873, 1874, 1894, 1896, 1897, 1901, 1913, 1920,
       1928, 1930, 1932, 1941, 1954, 1962, 1963, 1964, 1966, 1970, 1980,
       1988, 1992, 1993, 1999, 2004, 2014, 2020, 2021, 2024, 2030, 2035,
       2048, 2054, 2057, 2058, 2065, 2066, 2077, 2079, 2083, 2090, 2093,
       2099, 2102, 2104, 2107, 2108, 2115, 2130, 2140, 2146, 2147, 2158,
       2162, 2173, 2177, 2180, 2183, 2189, 2193, 2194, 2199, 2212, 2222,
       2241, 2242, 2246, 2251, 2262, 2268, 2276, 2277, 2282, 2308, 2315,
       2320, 2324, 2333, 2354, 2362, 2374, 2377, 2380, 2381, 2396, 2403,
       2414, 2417, 2419, 2423, 2426, 2452, 2455, 2458, 2461, 2467, 2470,
       2477, 2487, 2488, 2494, 2496, 2515, 2521, 2528, 2559, 2561, 2562,
       2566, 2576, 2592, 2595, 2604, 2612, 2621, 2623, 2625, 2636, 2643,
       2646, 2648, 2650, 2657, 2662, 2684, 2690, 2708, 2710, 2727, 2729,
       2736, 2738, 2742, 2757, 2767, 2782, 2790, 2791, 2793, 2798, 2800,
       2809, 2811, 2832, 2847, 2854, 2857, 2860, 2861, 2862, 2872, 2874,
       2884, 2887, 2893, 2910, 2921, 2926, 2928, 2934, 2941, 2946, 2949,
       2967, 2977, 2985, 2991, 2993, 2996, 3002, 3004, 3008, 3010, 3011,
       3013, 3015, 3023, 3024, 3027, 3028, 3030, 3054, 3055, 3063, 3066,
       3072, 3073, 3081, 3083, 3094, 3096, 3101, 3102, 3107, 3115, 3120,
       3128, 3145, 3147, 3158, 3174, 3186, 3192, 3198, 3202, 3209, 3212,
       3219, 3224, 3235, 3243, 3254, 3268, 3269, 3272, 3273, 3274, 3280,
       3287, 3290, 3294, 3299, 3306, 3320, 3325, 3329, 3331, 3334, 3335,
       3343, 3355, 3356, 3364, 3365, 3368, 3371, 3381, 3389, 3401, 3407,
       3428, 3436, 3448, 3449, 3464, 3480, 3485, 3486, 3490, 3491, 3493,
       3499, 3502, 3503, 3504, 3514, 3528, 3533, 3534, 3537, 3538, 3539,
       3546, 3556, 3558, 3566, 3580, 3592, 3593, 3594, 3600, 3601, 3602,
       3613, 3615, 3625, 3632, 3635, 3638, 3649, 3663, 3669, 3675, 3679,
       3696, 3697, 3699, 3700, 3703, 3707, 3716, 3725, 3731, 3735, 3741,
       3766, 3775, 3779, 3791, 3800], dtype=int64)